* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box !important;
}


  h2 {
     text-align: center;
   font-size: 10px;
  color: black;
  font-weight: normal;
  font-size: 66px;
  font-family: cursive;
  
}

echo{
     text-align: center;
   font-size: 10px;
  color: black;
  font-weight: normal;
  font-size: 66px;
  font-family: cursive;
  
}




body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: sienna;
  color: black;
  line-height: 1.6;
  position: absolute;
  font-family: cursive;
  overflow: hidden;
  left: 100px;
}
